@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #3f4952;
  height: 100vh;
  background-color: #f5f5f5eb;
  display: flex;
}

.right {
  width: 40%;
}

.container {
  margin-right: 30px;
  width: 100%;
}

.app {
  display: flex;
  padding-top: 35px;
  width: 65%;
  gap: 140px;
}

.cont {
  max-width: 900px;
  min-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 400px;
  padding-top: 15px;
  box-shadow: 0 0 16px #0000001a;
  border-radius: 6px;
}

.cont h4::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fff;
  margin: 4px 10px;
}

.type {
  text-align: center;
  font-size: 20px;
  padding: 7px 0;
  margin: 0 25px;
  background: #d9232d;
  color: #fff;
  border-radius: 5px;
}

.cont h4::before {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fff;
  margin: 4px 10px;

}

.section-title {
  padding: 50px 30px 50px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #e6636a;
  margin: 4px 10px;
}

.main-heading {
  width: fit-content;
  margin: 10px 0;
  font-size: 3.8rem;
  color: #3f4952;
  ;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 3.2rem;
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.calc {
  max-width: 900px;
  min-width: 800px;
  margin: 0 auto;
  background-color: #fff;
   
  border-radius: 6px;
  display: flex;
  flex-direction: column-reverse;
  /* display: grid;
  grid-template-columns: 45fr 55fr; */
  padding: 2.4rem;
  gap: 2.4rem;
}

.output {
  background-color: #d9232d;
  border-radius: 5px;
  padding: 2.4rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 3.2rem;
  justify-content: space-between;
  align-items: start;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr ;
  row-gap: 10px;
  column-gap: 30px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: space-between; */
}

.inputs_2 {
  grid-template-columns: 1fr 1fr;
}

.filters {
  width: 430px;
  height: 60vh;

}

.calc-btn {
  border: none;
  background-color: #d9232d;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
  border-radius: 4px;
  width: 100%;
  margin-top: auto;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  letter-spacing: 1px;
  transition: all 0.4s;
}

.calc-btn:hover {
  background-color: #d9232d;
}

.calc-btn:focus {
  outline: none;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
  width: 100%;
  transition: all 0.2s;
}

.input__title {
  display: block;
  font-size: 1.6rem;
  color: #3f4952;
  ;
  font-weight: 700;
  /* margin-bottom: 0rem; */
}

.input__field {
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  padding: 1.2rem;
  background-color: #f8f9fa;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 7px;
}

.input__field:disabled {
  cursor: not-allowed;
}

.input-disable {
  opacity: 0.5;
}

.input__field::-webkit-outer-spin-button,
.input__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input__field:focus {
  outline: 3px solid rgb(187, 188, 188);
  background-color: #f1f1f1;
}

.input__field::placeholder {
  font-family: inherit;
  color: hsl(184, 14%, 56%);
  font-size: 1.8rem;
}

.horiz {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  transition: all 0.2s;
  flex-direction: column;
}

/* output part */
.output {
  padding: 2.4rem;
  color: #fff;
  display: flex;
  /* flex-direction: column; */
  gap: 3.2rem;
}

.result-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.result-header .input__field {
  flex: 0 0 12rem;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.result-header .input__field::placeholder {
  font-size: 1.6rem;
  color: #3f4952;
}

.secondary-heading {
  font-size: 2rem;
  font-size: 2rem;
  padding: 10px;
  background: #fff;
  color: rgb(63, 73, 82);
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-weight: 600;
  /* flex: 1 0 auto; */
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result:not(:last-child) {
  margin-bottom: 1.6rem;
}

.result__title {
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}

.result__value {
  color: #fad8d8cf;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.customer-number {
  position: relative;
  /* border-bottom: 2px solid white; 
     padding-bottom: 30px;*/
  width: 47%;
}

/* MODE STYLE */
.mode {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  height: 50vh;
}

.waiting {
  width: 47%;
  position: relative;
}

.choice {
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 15px 20px;
  color: #3f4952;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #eee;
  transition: all 0.3s;
  margin: 15px 0;
  box-shadow: 0 0 16px #0000001a;
}

/* .choice:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  transform: translateY(-2px);
} */
.choice:hover {
  background-color: #d9232de8;
  color: hsl(189deg, 41%, 97%);
}

.choice--active {
  background-color: #d9232d;
  color: hsl(189deg, 41%, 97%);
}

.choice--active:hover {
  background-color: #e24951
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

#num-customer,
#waiting-time {
  display: none;
}

.none {
  display: none;
}

.btn-fill {
  grid-column-start: 1;
  grid-column-end: 3;
}

.flex-result{
  border-top:1px solid black; ;
}

.output-number{
  width: 100%;
  border-top: 2px solid white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.output-number .result{
  margin:0;
}

.output-number .result__value{
  color:white;
}

 